:root {
  --font-title: 'Kalnia', serif;
  --font-text: 'Lora', serif;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #E8EEEE;
  font-family: var(--font-text);
}


h1, h2, h3, a {
  font-family: var(--font-title);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  background: #CBDBE8;
  padding: 15px 0;
  transition: 0.3s;
}


.header a:hover {
  color: #000000;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center; 
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

@keyframes zoom {
  from { background-size: 100%; }
  to { background-size: 110%; }
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.login {
  transition: 0.3s;
}


.logo img {
  height: 70px;
  width: auto;
}

.login:hover {
  transform: translateY(-2px);
}

.login {
  padding: 10px 24px;
  background: linear-gradient(180deg, #9fc2e6, #7faad4);
  color: white;
  border: none;
  border-radius: 12px;
  font-family: 'Lora', serif;
  font-size: 16px;
  cursor: pointer;
}

.language {
  padding: 6px 10px;
  border-radius: 8px;
  background: linear-gradient(180deg, #9fc2e6, #7faad4);
  color: white;
  border: none;
  border-radius: 12px;
  font-family: 'Lora', serif;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-2px);
}

.quests {
  text-align: center;
  padding: 60px 0;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 300px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.more{
   margin-top: 30px;
   display: block;
   margin: 40px auto 0;
   padding: 10px 30px;
   background: linear-gradient(180deg, #9fc2e6, #7faad4);
   color: white;
   border: none;
   border-radius: 12px;
   font-family: 'Lora', serif;
   cursor: pointer;
}

.more:hover {
  transform: translateY(-2px);
}

.about-content {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 60px 0;
}

.about img {
  width: 400px;
  border-radius: 16px;
}

.seemore {
   margin-top: 30px;
   display: block;
   margin: 40px auto 0;
   padding: 10px 30px;
   background: linear-gradient(180deg, #9fc2e6, #7faad4);
   color: white;
   border: none;
   border-radius: 12px;
   font-family: 'Lora', serif;
   cursor: pointer;
}

.seemore:hover {
  transform: translateY(-2px);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  background: #CBDBE8;
  color: #A0BBD0;
}

.footer img{
  height: 60px;
}